h1 {
    background:red;
}

.paragraph-1{
    background:blue;
    font-size:36pt;
    color:green;
    padding-left:60px


    }

.paragraph-2{
    border:10px solid yellow;
    border-radius:15px:;
    font-size:24pt;
    margin-bottom:50px;

}

.paragraph-3{
    font-weight:bold;
    font-size:22px;
    font-family:"Courier New";
    padding-left:60px;

}

